@import url("../../.cache/wal/colors-waybar.css");

* {
	background-image: none;
	box-shadow: none;
    border-radius: 20px;
}

window {
    background-color: rgba(0, 0, 0, 0.75); /* black at 50% opacity */
    border-radius: 20px;
}

button {
    border-color: @color1;
	text-decoration-color: @foreground;
    color: @foreground;
	background-color: @background;
	border-style: solid;
	border-width: 2px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}
button:first-child {
    border-radius: 0px;
    border-top-left-radius: 20px;
}
button:last-child {
    border-radius: 0px;
    border-bottom-right-radius: 20px;
}

button:not(:first-child):not(:last-child) {
    border-radius: 0;
}

button:hover {
	background-color: @color2;
	outline-style: none;
}

button:focus, button:active {
	background-color: @color1;
	outline-style: none;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}